<div class="container mt-5 p-4">
  <h2>Atividades Extracurriculares</h2>
   <%= render partial: "form"%>
  <button type="button" class="add-doc" data-toggle="modal" data-target="#exampleModal">
    <%= link_to '+Adicionar Documento', new_certificate_path, :remote => true, "data-toggle" => "modal", "data-target" => "my-modal", class:"linkto" %>
  </button>
  <hr>
  <div class="grid">
   <span class="header">
      <strong >Documento</strong>
    </span>
    <span class="header">
      <strong>Atividades</strong>
    </span>
    <span class="header">
      <strong>Horas</strong>
    </span>
    <span class="header">
      <strong>Status</strong>
    </span>
    <% @certificates.each do |certificate| %>
    <% if current_user == certificate.user %>

        <span><%= link_to "#{certificate.attachment_identifier}", certificate.attachment_url %></span>
        <span><%= certificate.activity_description %></span>
        <span><%= certificate.hours %></span>
        <span><%= certificate.status ? "Aprovado" : "Pendente" %></span>

    <% end %>
    <% end %>
  </div>






